.vagrant
.DS_Store
.vagrant*
.name
.idea
*.iml
data/divvy/trips.in
data/bulk/divvy_bulk_update.json
*.sense
transform/build
transform/.gradle
estalk-precise-vbox-x86_64.box
transform/www
presentation/outline (Autosaved).mmap
presentation/~$outline.mmap.~$lock
visualizations/bower_components
transform/lib
www/transform/build
www/transform/lib
www/transform/.gradle
