<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Slides for Elasticsearch Tutorial</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <link rel="icon" href="/images/elastic-favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

        <link rel="stylesheet" href="css/ix-illustration.css">

        <link rel="stylesheet" href="css/theme.css" id="theme">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="bower_components/highlightjs/styles/monokai-sublime.css">

        <!-- Printing and PDF exports -->
        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? 'bower_components/reveal.js/css/print/pdf.css' : 'bower_components/reveal.js/css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>

        <!--[if lt IE 9]>
        <script src="bower_components/reveal.js/lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="reveal">

            <div class="slides">

                <% _.forEach(slides, function(slide) { %>
                    <% if (!_.isArray(slide)) { %>
                        <%= section(slide) %>
                    <% } %>
                    <% if (_.isArray(slide)) { %>
                        <section>
                            <% _.forEach(slide, function(verticalslide) { %>
                                <%= section(verticalslide) %>
                            <% }); %>
                        </section>
                    <% } %>
                <% }); %>
            </div>

        </div>

        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
        </script>
        <script src="bower_components/MathJax/MathJax.js?config=TeX-AMS_HTML"></script>
        <script src="bower_components/reveal.js/lib/js/head.min.js"></script>
        <script src="bower_components/reveal.js/js/reveal.js"></script>
        <script src="bower_components/reveal.js/plugin/markdown/marked.js"></script>
        <script src="js/markdown-customizations.js"></script>
        <script src="bower_components/packery/dist/packery.pkgd.min.js"></script>
        <script src="bower_components/jquery/jquery.js"></script>
        <script>
          // Override links with these protocols to point to the appropriate services
          window.mdProtocols = {
            "console://": "<%= kibanaUrl %>/app/kibana#/dev_tools/console?load_from=<%= exercisesUrl %>/",
            "elasticsearch://": "<%= elasticsearchUrl %>/",
            "kibana://": "<%= kibanaUrl %>/",
            "cerebro://": "<%= cerebroUrl %>/"
          }

          Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,

            transition: 'fade', // none/fade/slide/convex/concave/zoom

            marked: {
              smartypants: true,

            },

            // Optional reveal.js plugins
            dependencies: [
              { src: 'bower_components/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
              // { src: 'bower_components/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: 'bower_components/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
              { src: 'bower_components/reveal.js/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( '[data-html]' ) || !!document.querySelector( 'pre code' ) || !!document.querySelector( '[data-markdown]' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: 'bower_components/reveal.js/plugin/zoom-js/zoom.js', async: true },
              { src: 'bower_components/reveal.js/plugin/notes/notes.js', async: true },
              { src: 'js/loadhtmlslides.js', condition: function() { return !!document.querySelector( '[data-html]' ); } }
            ]
          });

          Reveal.addEventListener('ready', function() {
            var elem = document.querySelector('.grid');
            var pckry = new Packery( elem, {
              itemSelector: "img",
              gutter: 7
            });
          });

        function onSlideChange(e) {
            var currentSlide = e.currentSlide;
            var illustrations = $(currentSlide).find('[class*=illustration]');

            for( var i = 0, len = illustrations.length; i < len; i++ ) {
                var illustration = illustrations[i];

                var eventName = $(illustration).attr('data-illustration') + "-show"

                var event = document.createEvent( "HTMLEvents", 1, 2 );
                event.initEvent( eventName, true, true );
                document.dispatchEvent( event );

            }
        }

        document.addEventListener( 'slidechanged', onSlideChange, false );
        </script>

        <script src="bower_components/angularjs/angular.min.js"></script>
        <script src="js/ix-illustration.js"></script>

    </body>

</html>
