body {
	background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #61ae24 100%);
}

.reveal section {
	
}

.reveal section img {
	max-width: 90%;
	border: 0px solid black;
	box-shadow: none;
}